@import "tailwindcss";

.nav-btn{
  @apply px-4 py-2 rounded-tr-lg rounded-bl-lg bg-red-200
}

.nav-link {
  position: relative;
  color: #374151; /* gray-700 */
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #e11d48; /* rose-600 */
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: #e11d48;
  transition: width 0.2s ease;
}

.nav-link:hover::after {
  width: 100%;
}

  .input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.75rem;
    border: 1px solid #e5e7eb;
    outline: none;
  }

  .input:focus {
    border-color: #f43f5e;
    box-shadow: 0 0 0 2px rgba(244, 63, 94, 0.2);
  }


  .input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.75rem;
    border: 1px solid #e5e7eb;
    outline: none;
  }

  .input:focus {
    border-color: #f43f5e;
    box-shadow: 0 0 0 2px rgba(244, 63, 94, 0.2);
  }
